@model MVC_ASSIGNMENT_6.Models.Student

@{
    ViewData["Title"] = "Student Form";
}

<h2>Student Form</h2>

<form asp-action="Create" method="post">

    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <br />

    <div>
        <label asp-for="Age"></label>
        <input asp-for="Age" class="form-control" />
        <span asp-validation-for="Age" class="text-danger"></span>
    </div>

    <br />

    <div>
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <br />

    <button type="submit" class="btn btn-primary">Submit</button>

</form>

<p style="color:green">@ViewBag.Message</p>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}